/vendor
/node_modules

/public/storage
!/public/css/app.css
!/public/js/vendor.js
!/public/js/app.js
/resources/less/**/*.less
Homestead.yaml
Homestead.json
.env
/.idea
Thumbs.db

!/public/art/
/public/art/*
/public/images/*
/public/thumbnails/*
/public/avatars/*
/resources/seed-pics/*
/resources/heroku-heroku-deploy-seed-pics/*

!/public/images
!/public/images/missing
!/public/images/404/header-bg.jpg
!/public/images/404/
!/public/images/missing/missing-avatar.png
!/public/images/missing/missing.png
!/public/images/missing/missing-thumb.png
!/public/images/assets/
