/vendor
/node_modules
/public/storage
/public/js
/public/css
Homestead.yaml
Homestead.json
.env
/.idea
Thumbs.db

/public/images/*
/public/thumbnails/*
/public/avatars/*
/public/users/*
!/public/images/404/header-bg.jpg
!/public/images/404/
!/public/images/missing/missing-avatar.png
!/public/images/missing/missing.png
!/public/images/missing/missing-thumb.png
