@import "font-awesome/font-awesome";
@import "bootstrap/bootstrap";
@import "cropper/cropper";

/* Dropdown hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  border-top: solid #c2bfc9 3px !important;
  margin-bottom: 15px !important;
  border-radius: 0 !important;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  color: #c2bfc9 !important;
  margin-bottom: 0 !important;
  height: 100px !important;
  background-image: url("/images/404-space.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

.gallery-item {
  padding-bottom: 5px;
  padding-top: 5px;
  //border-bottom: solid white 5px;
  //border-left: solid whitesmoke 5px;
  //background: #EEE;
  min-height: 200px;
}

.gallery-container {
  margin-bottom: 15px;
}


/* Vertical alight for gallery.show */

.vcenter {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #c2bfc9 !important;
  padding: 25px !important;
  margin-top: 25px !important;
}

.operations {
  display:inline;
}

img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}