@import "font-awesome/font-awesome";
@import "bootstrap/bootstrap";
@import "cropper/cropper";
@import "shared/mixins";
@import "shared/widgets";
@import "shared/comments";

@404-image: url("/images/404/404-space.jpg");
@header-bg: url("/images/404/header-bg.jpg");

@newPrimary: #829aa0;
@newDanger: #73504a;
@newSuccess: #6d9771;
@newDefault: #EEE;

@white: #FFFFFF;

@comment-highlight: #afcbd1;

@brand-primary: @newPrimary;
@btn-default-bg: @newDefault;
@brand-danger: @newDanger;
@brand-info: #355197;
@brand-success: @newSuccess;

@min-galley-item-width: 330px;
@min-gallery-item-height: 360px;
@max-message-item-height: 360px;

@badge-bg: @newPrimary;


#fullview {
  display:none;
}

/* Dropdown hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  border-top: solid @newPrimary 3px !important;
  margin-bottom: 15px !important;
  border-radius: 0 !important;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  color: #c2bfc9 !important;
  margin-bottom: 0 !important;
  height: 100px !important;
  background-image: @header-bg;
  background-position: center top;
  background-repeat: no-repeat;
}

.login-panel {
  margin-top: 30px;
  margin-bottom: 300px;
}

div.gallery-item {
  position:relative;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  min-height: @min-gallery-item-height;

  img {
    .box-shadow(5px 5px 5px #888888);
  }

  /* horizontal and vertical for opera and galleries */
  .vcenter {
    position: absolute;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    .translate(-50%, -50%);
  }
}

.gallery-operations {
  position: absolute;
  top: 50%;
  left: 50%;
  .translate(-50%, 140px);
  z-index: 5;
  //text-align: center;
}

.opus-operations {
  position: absolute;
  top: 50%;
  left: 50%;
  .translate(-50%, 140px);
  z-index: 5;
  //text-align: center;
}

div.message-item {
  min-height: @max-message-item-height !important;
}

.gallery-container {
  margin-bottom: 15px;
}

// details panel on piece.show
.details-panel {
  //margin-top: 15px;
}


/* Add a gray background color and some padding to the footer */
footer {
  background-color: @gray-darker !important;
  padding: 25px;
  padding-bottom: 75px !important;
  margin-top: 25px !important;
}

// Operations partial styling
.operations {
  display:inline;
}
// avatar styling
.avatar {
  margin-right: 5px;
  .border-radius(5px);
}

a.avatar-link {
  text-decoration: none;
}


.opus-display {
  display: block;
  .opus-show {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    //max-width: 1500px;
    .box-shadow(5px 5px 5px #888888);
  }
}

.piece-info {
  display:block;
  margin-bottom: 15px;
}

.piece-nav {
  margin-top: 5px;
  margin-bottom: 10px;
}

.preview-container {
  display: none;
}

div.uploader {
  text-align: center;

  #preview {
    position: relative;
    max-width: 100%; /* This rule is very important, please do not ignore this! */
    //max-height: 500px;
    .box-shadow(5px 5px 5px #888888);
    display: none;
  }

  #preview-edit {
    position: relative;
    max-width: 100%; /* This rule is very important, please do not ignore this! */
    //max-height: 500px;
    .box-shadow(5px 5px 5px #888888);
  }
}

.watch-date {
  color: #8c8c8c;
  font-style: italic;
}