@import "font-awesome/font-awesome";
@import "bootstrap/bootstrap";
@import "cropper/cropper";

@404-image: url("/images/404/404-space.jpg");
@header-bg: url("/images/404/header-bg.jpg");

@newPrimary: #829aa0;
@newDanger: #73504a;
@newSuccess: #6d9771;
@newDefault: #EEE;

@white: #FFFFFF;

@brand-primary: @newPrimary;
@btn-default-bg: @newDefault;
@brand-danger: @newDanger;
@brand-success: @newSuccess;

@galley-item-width: 350px;

/* Dropdown hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  border-top: solid @newPrimary 3px !important;
  margin-bottom: 15px !important;
  border-radius: 0 !important;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  color: #c2bfc9 !important;
  margin-bottom: 0 !important;
  height: 100px !important;
  background-image: @header-bg;
  background-position: center top;
  background-repeat: no-repeat;
}


.border-radius (@radius: 10px) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}

.opacity (@opacity: 0.5) {
  -webkit-opacity: 	@opacity;
  -moz-opacity: 		@opacity;
  opacity: 		@opacity;
}

.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}

.horizontal-gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(left, @startColor, @endColor);
  background-image: -moz-linear-gradient(left, @startColor, @endColor);
  background-image: -ms-linear-gradient(left, @startColor, @endColor);
  background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
  -webkit-animation: @name @duration @delay @ease;
  -moz-animation:    @name @duration @delay @ease;
  -ms-animation:     @name @duration @delay @ease;
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition:    @transition;
  -ms-transition:     @transition;
  -o-transition:      @transition;
}
.transform(@string){
  -webkit-transform: @string;
  -moz-transform: 	 @string;
  -ms-transform: 		 @string;
  -o-transform: 		 @string;
}
.scale (@factor) {
  -webkit-transform: scale(@factor);
  -moz-transform: 	 scale(@factor);
  -ms-transform: 		 scale(@factor);
  -o-transform: 		 scale(@factor);
}
.rotate (@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform: 	 rotate(@deg);
  -ms-transform: 		 rotate(@deg);
  -o-transform: 		 rotate(@deg);
}
.skew (@deg, @deg2) {
  -webkit-transform:       skew(@deg, @deg2);
  -moz-transform: 	 skew(@deg, @deg2);
  -ms-transform: 		 skew(@deg, @deg2);
  -o-transform: 		 skew(@deg, @deg2);
}
.translate (@x, @y:0) {
  -webkit-transform:       translate(@x, @y);
  -moz-transform: 	 translate(@x, @y);
  -ms-transform: 		 translate(@x, @y);
  -o-transform: 		 translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
  -webkit-transform:       translate3d(@x, @y, @z);
  -moz-transform: 	 translate3d(@x, @y, @z);
  -ms-transform: 		 translate3d(@x, @y, @z);
  -o-transform: 		 translate3d(@x, @y, @z);
}
.perspective (@value: 1000) {
  -webkit-perspective: 	@value;
  -moz-perspective: 	@value;
  -ms-perspective: 	@value;
  perspective: 		@value;
}
.transform-origin (@x:center, @y:center) {
  -webkit-transform-origin: @x @y;
  -moz-transform-origin:    @x @y;
  -ms-transform-origin:     @x @y;
  -o-transform-origin:      @x @y;
}

.gallery-item {
  //margin: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  //.border-radius();
  //background: #EEE;
  //min-height: 200px;
  width: @galley-item-width;
}

.gallery-item {
  img {
    .box-shadow(5px 5px 5px #888888);
  }
}

span.role-developer::before {
  content: "Dev";
  margin-right: 3px;
  padding: 4px;
  font-size: inherit;
  position: relative;
  color: @white;
  .border-radius(5px);
  .gradient(#337e3c, #222e24);
}

span.role-administrator::before {
  content: "Admin";
  margin-right: 3px;
  padding: 4px;
  font-size: inherit;
  position: relative;
  color: @white;
  .border-radius(5px);
  .gradient(#ba3d2d, #552522);
}

.gallery-container {
  margin-bottom: 15px;
}

// details panel on piece.show
.details-panel {
  //margin-top: 15px;
}

/* Vertical alight for gallery.show */

.vcenter {
  //position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  float: none;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: @gray-darker !important;
  padding: 25px;
  padding-bottom: 75px !important;
  margin-top: 25px !important;
}

// Operations partial styling
.operations {
  display:inline;
}
// avatar styling
.avatar {
  margin-right: 5px;
  .border-radius(5px);
}

.piece-show {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  .box-shadow(5px 5px 5px #888888);
}

.piece-info {
  display:block;
  margin-bottom: 15px;
}

.piece-nav {
  margin-bottom: 10px;
}

#preview  {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
  max-height: 500px;
  display:none;
}

#preview-edit  {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
  max-height: 500px;
}

.comment {
  border: @gray-lighter solid 2px;
  background-color: @gray-lighter;
  .border-radius();
  padding:5px;
  margin:1px;

  .comment-name {
    font-weight: bold;
  }

  .comment-avatar {
    //padding: 20px;
    img {
      .border-radius(5px);
    }
  }

  .comment-delete-notification {
    position: relative;
    left: -35px;
    top: -3px;
  }

  .comment-body {
    background-color: @white;
    .border-radius();
    //height: 100%;
    min-height: 130px;
    //width: inherit;
    //padding: 15px 0 10px 0;

    .comment-date {
      padding: 5px 10px 0px 10px;
      color: #8c8c8c;
    }

    .comment-text {
      margin-top: -5px;
      padding: 15px 10px 30px 10px;
    }
  }
}

.child-comment {
  .container.comment {
    margin-left: 10px;
  }
}

.comment-area {
  width: auto;
  padding:2px 0 2px 0;
  margin:1px;

  .comment-name {
    padding: 1px;
  }
}

.reply-toggle {
  .reply-btn {
    margin-left: 10px;
    margin-top: 2px;
  }
}

.reply-form {
  padding: 5px;
  margin-left: 40px;
  width:inherit;
  display: none;
  .reply-textarea {
    width: 70%;
    margin-bottom: 2px;
  }
}
